<div class="home-page-holder">
  <div class="home-block-holder">
    <div class="schedule-content-holder">

      <div id="schedule-block" class="schedule-block">
        <h1>Edit Team: <%= @team.name %> (<%= @season %>)</h1>

        <%= form_with model: @team_season, url: admin_team_path(@team, season: @season), local: true do |form| %>
          <div>
            <%= form.label :dollars_owed %>
            <%= form.number_field :dollars_owed %>
          </div>
          <div>
            <%= form.label :dollars_won %>
            <%= form.number_field :dollars_won %>
          </div>
          <div>
            <%= form.label :wins %>
            <%= form.number_field :wins %>
          </div>
          <div>
            <%= form.label :losses %>
            <%= form.number_field :losses %>
          </div>
          <div>
            <%= form.label :ties %>
            <%= form.number_field :ties %>
          </div>
          <div>
            <%= form.label :points_for %>
            <%= form.number_field :points_for %>
          </div>
          <div>
            <%= form.label :points_against %>
            <%= form.number_field :points_against %>
          </div>
          <div>
            <%= form.label :highest_week %>
            <%= form.text_field :highest_week %>
          </div>
          <div>
            <%= form.submit 'Update Team Season' %>
          </div>
        <% end %>

        <%= link_to 'Back to Dashboard', admin_dashboard_path(season: @season) %>
      </div>
    </div>
  </div>
</div>
